## What is SQLite

SQLite is a **software library** that provides a **relational database management system**. The “lite” in SQLite means lightweight nature regarding setup, database administration, and required resources.

SQLite has the following notable features:

- Self-contained
- Serverless
- Zero-configuration
- Transactional

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect(':memory:')

In [3]:
cur = conn.cursor()

In [4]:
cur.execute("""CREATE TABLE IF NOT EXISTS users(
   userid INT PRIMARY KEY,
   fname TEXT,
   lname TEXT,
   gender TEXT);
""")
conn.commit()

In [5]:
cur.execute("""INSERT INTO users(userid, fname, lname, gender) 
   VALUES('00001', 'Nik', 'Piepenbreier', 'male');""")

conn.commit()

In [6]:
cur.execute("SELECT * FROM users;")

In [7]:
one_result = cur.fetchone()

In [8]:
print(one_result)

(1, 'Nik', 'Piepenbreier', 'male')

-----

In [9]:

import sqlite3
conn = sqlite3.connect('users.db')

In [10]:
cur = conn.cursor()

cur.execute("""CREATE TABLE IF NOT EXISTS users(
   userid INT PRIMARY KEY,
   fname TEXT,
   lname TEXT,
   gender TEXT);
""")
conn.commit()


cur.execute("""INSERT INTO users(userid, fname, lname, gender) 
   VALUES('00001', 'Nik', 'Piepenbreier', 'male');""")

conn.commit()

cur.execute("SELECT * FROM users;")
one_result = cur.fetchone()
print(one_result)

(1, 'Nik', 'Piepenbreier', 'male')

In [ ]:
# task: change the below data to employees data 
serialized_items = [
    (1, [0.1, 0.1, 0.1, 0.1]),
    (2, [0.2, 0.2, 0.2, 0.2]),
    (3, [0.3, 0.3, 0.3, 0.3]),
    (4, [0.4, 0.4, 0.4, 0.4]),
    (5, [0.5, 0.5, 0.5, 0.5]),
]

for item_id, serialized_vector in serialized_items:
    conn.execute(
        f"""
            INSERT INTO vec_data (rowid, embedding)
            VALUES(?, ?)
        """,
        [item_id, serialized_vector]
    )